@font-face {
  font-family: "iconfont"; /* Project id 4462692 */
  src: url('iconfont.woff2?t=1710779969356') format('woff2'),
       url('iconfont.woff?t=1710779969356') format('woff'),
       url('iconfont.ttf?t=1710779969356') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-navigation:before {
  content: "\e6bb";
}

.icon-location:before {
  content: "\e61e";
}

.icon-triangle:before {
  content: "\e8d8";
}

.icon-right-arrow:before {
  content: "\e617";
}

.icon-set:before {
  content: "\e61c";
}

